@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno: @ViewData["aluno"]</p>
<address>
    <strong>More information: </strong> <a href="www.ceapese.org.br">Ceape/SE</a>
</address>

<p>@ViewData["email"]</p>